<div class="dashboard-container">
    <div>
        <mat-form-field>
            <input matInput placeholder="Search in library" 
            [(ngModel)]="searchValue">
        </mat-form-field>
        <button mat-icon-button (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="cards">
        <mat-card *ngFor="let book of booksList" class="mat-card">
            <div (click)="onSelect(book?.id)">
                <mat-card-header>
                    <mat-card-title class="truncate">{{book?.volumeInfo?.title}}</mat-card-title>
                    <mat-card-subtitle class="truncate">{{book?.volumeInfo?.subtitle}}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{book.volumeInfo?.imageLinks?.smallThumbnail}}" alt="{{book?.volumeInfo?.subtitle}}">
                  <mat-card-content>
                      <span>{{book.volumeInfo?.authors?.toString()}}</span>
                  </mat-card-content>
            </div>
            
            <mat-card-footer>
                <button mat-button color="primary" (click)="addToCart(book)">Add to cart</button>
                <button mat-button color="primary" (click)="buyNow(book.id)">Buy now</button>
            </mat-card-footer>
          </mat-card>
    </div>
</div>

        

